table.table.table-bordered
    th
    each field in opt.fields
        th
            = field
    each post in posts
        tr(data-id=post.id)
            td(style="width: 50px;")
                a(href='ideas/edit/' + post.id)
                    span.glyphicon.glyphicon-pencil
                a(href='ideas/delete/' + post.id)
                    span.glyphicon.glyphicon-remove
            each field in opt.fields
                td(data-field=field)
                    if (field.indexOf('.') !== -1)
                        - const [obj, attr] = field.split('.')
                        if post[obj]
                            = post[obj][attr]
                    else
                        = post[field]
